/**** Paramètres bouton contact, envoyer ****/

.contact_btn,
.submit_btn,
.btn_validation {
  width: 170px;
  height: 69px;
  border-radius: 5px;
  background-color: $primary;
  color: $white;
  font-weight: 700;
  font-size: 20px;
  border: none;
}

.contact_btn {
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-start;
  cursor: pointer;

  &:hover {
    background-color: $form;
    color: $black;
  }

  @media only screen and (min-width: 375px) and (max-width: 600px) {
    position: fixed;
    font-size: 18px;
    width: 150px;
    height: 25px;
    top: 8%;
    left: 25%;
  }
}

.submit_btn {
  margin-top: 10px;
  @media only screen and (min-width: 375px) and (max-width: 600px) {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.btn_validation {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lightbox_close_button,
.lightbox_close_button img {
  position: fixed;
  right: 10%;
  top: 10%;
  z-index: 12;
  background-color: transparent;
  border: none;
  @media only screen and (min-width: 375px) and (max-width: 600px) {
    top: 29%;
    width: 15px;
  }
}

.previous {
  position: fixed;
  top: 50%;
  left: 10%;
  z-index: 11;
  @media only screen and (min-width: 375px) and (max-width: 600px) {
    left: 4%;
    top: 46%;
  }
}

.next {
  position: fixed;
  top: 50%;
  right: 10%;
  @media only screen and (min-width: 375px) and (max-width: 600px) {
    right: 4%;
    top: 46%;
  }
}

.previous img {
  @media only screen and (min-width: 375px) and (max-width: 600px) {
    width: 15px;
    height: 25px;
  }
}
.next img {
  @media only screen and (min-width: 375px) and (max-width: 600px) {
    width: 15px;
    height: 25px;
  }
}
.lightbox button {
  cursor: pointer;
}
