/**** Paramètres bouton contact, envoyer ****/

.contact_btn,
.submit_btn,
.btn_validation {
  width: 170px;
  height: 69px;
  border-radius: 5px;
  background-color: $primary;
  color: $white;
  font-weight: 700;
  font-size: 20px;
  border: none;
}

.contact_btn {
  margin: 1rem;
  position: relative;
  right: 200px;
  top: -100px;
  cursor: pointer;

  &:hover {
    background-color: $form;
    color: $black;
  }
}

.submit_btn {
  margin-top: 10px;
}
.btn_validation {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
