/**** Paramètres bouton contact, envoyer ****/

.contact_btn,
.submit_btn,
.btn_validation {
  width: 170px;
  height: 69px;
  border-radius: 5px;
  background-color: $primary;
  color: $white;
  font-weight: 700;
  font-size: 20px;
  border: none;
}

.contact_btn {
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-start;
  cursor: pointer;

  &:hover {
    background-color: $form;
    color: $black;
  }
  @media only screen and (min-width: 375px) and (max-width: 600px) {
    position: fixed;
    font-size: 18px;
    width: 150px;
    height: 25px;
    left: 25%;
  }
}

.submit_btn {
  margin-top: 10px;
  @media only screen and (min-width: 375px) and (max-width: 600px) {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.btn_validation {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lightbox_close_button {
  position: fixed;
  right: 10%;
  top: 10%;
  z-index: 12;
}

.previous {
  position: fixed;
  top: 50%;
  left: 10%;
  z-index: 11;
}

.next {
  position: fixed;
  top: 50%;
  right: 10%;
}
.lightbox button {
  cursor: pointer;
}
