//proprièté du dropdown menu
.sort_menu {
  margin-top: 30px;
  display: flex;
}
.sort_text {
  font-size: 18px;
  font-weight: 700;
  margin-top: 10px;
  margin-right: 10px;
}

.dropdown_btn {
  width: 170px;
  height: 69px;
  background-color: $primary;
  color: $white;
  font-size: 18px;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
}
.sort_div {
  display: flex;
  flex-direction: column;
}
.sort_container {
  width: 170px;
  border-radius: 5px;
  display: none;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 517px;
  background-color: $primary;
  margin: 0;
  margin-top: -69px;
  padding-left: 10px;
  padding-right: 5px;
}

.popularity,
.date,
.title {
  height: 69px;
  list-style-type: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
  color: $white;
  display: flex;
  align-items: center;
}

.date,
.title {
  display: none;
  border-top: solid 1px $white;
  width: 150px;
}
.arrow_icon {
  cursor: pointer;
  height: 11px;
  width: 16px;
  display: flex;
}

/**** media queries ****/
@media only screen and (min-width: 375px) and (max-width: 600px) {
  .sort_menu,
  .sort_div,
  .dropdown_btn {
    display: none;
  }
}
