/**** Paramètres du formulaire de contact ****/

.contact_modal {
  display: none;
  background-color: rgba(25, 25, 25, 0.7);
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.content_form {
  display: block;
  background-color: $form;
  width: 669px;
  max-height: 1050px;
  border-radius: 5px;
  margin: 20px auto;
  padding: 10px;
}

.form_header {
  display: flex;
  justify-content: space-between;
  width: 599px;
  margin: auto;
}

.form_title {
  font-size: 64px;
  color: $black;
  text-align: start;
}

.close_btn {
  width: 35px;
  height: 35px;
  margin: 30px 0px;
}
.form {
  margin: auto;
  width: 599px;
}

label {
  font-size: 36px;
}

input {
  font-size: 24px;
  outline: none;
}
.user_lastName,
.user_firstName,
.user_email {
  width: 599px;
  height: 68px;
  padding: 0;
  border-radius: 5px;
  border: none;
}

.user_message {
  width: 599px;
  height: 170px;
  border-radius: 5px;
  border: none;
}
/**** input valide ****/
.input-validate {
  border: solid 4px green;
}

/**** span error ****/
.input-error {
  border: 4px solid #e54858;
}

.error span {
  visibility: hidden;
  opacity: 0;
  display: block;
  font-size: 1.5em;
  transition: 0.3s;
  color: #e54858;
}

/**** error input ****/
.error {
  visibility: visible;
  opacity: 1;
  color: #e54858;
  font-size: 1.5em;
}
/**** Proprièté de validation ****/
.validationText {
  color: green;

  font-size: 24px;

  text-align: center;
  padding: 18rem 2rem;
}
/**** Medias Queries ****/
@media only screen and (min-width: 375px) and (max-width: 600px) {
  .content_form,
  .form_title,
  .form,
  .form_header {
    width: 320px;
  }
  .content_form {
    height: 800px;
  }
  .close_btn {
    width: 18px;
    height: 18px;
    margin-right: 20px;
    margin-top: 10px;
  }
  .form_title {
    font-size: 36px;
  }
  .user_lastName,
  .user_firstName,
  .user_email {
    width: 300px;
    height: 52px;
  }
  .user_message {
    width: 300px;
    height: 184px;
    margin-bottom: 10px;
  }
  label {
    font-size: 24px;
  }
  .error {
    font-size: 14px;
  }
}
